<form action="" #form="ngForm">
  <label for="nome">Nome: </label>
  <input type="text" name="nome" id="nome" ngModel>
  <br>
  <br>
  <label for="sexo">Masculino: </label>
  <input type="radio" name="sexo" id="sexo" value="Masculino" ngModel>
  <br>
  <br>
  <label for="sexo">Feminino: </label>
  <input type="radio" name="sexo" id="sexo" value="Feminino" ngModel>
  <br>
  <br>
  <label for="sexo">Outros: </label>
  <input type="radio" name="sexo" id="sexo" value="Outros" ngModel>
  <br>
  <br>
</form>
<br>
<br>
{{form.value | json}}
