<form action="" #form="ngForm" (ngSubmit)="submitForm(form)">
  <label for="nome">Nome: </label>
  <input type="text" name="nome" id="nome" required #nome="ngModel" [ngModel]="nome.value" >
  <span *ngIf="nome.invalid">Invalid</span>
  <br>
  <br>
  <label for="sexo">Masculino: </label>
  <input type="radio" name="sexo" id="sexo" value="Masculino" ngModel>
  <br>
  <br>
  <label for="sexo">Feminino: </label>
  <input type="radio" name="sexo" id="sexo" value="Feminino" ngModel>
  <br>
  <br>
  <label for="sexo">Outros: </label>
  <input type="radio" name="sexo" id="sexo" value="Outros" ngModel>
  <br>
  <br>

  <label for="sexo">Angular: </label>
  <input type="checkbox" name="angular" id="angular" ngModel>
  <br>
  <br>

  <label for="sexo">Vue: </label>
  <input type="checkbox" name="vue" id="angular" ngModel>
  <br>
  <br>

  <label for="sexo">React: </label>
  <input type="checkbox" name="react" id="angular" ngModel>
  <br>
  <br>

  <select name="comidas" id="comindas" ngModel>
    <option value="" disabled>Selecione ...</option>
    <option value="x-salada">X-salada</option>
    <option value="x-bacon">X-salada</option>
    <option value="x-coxinha">X-salada</option>
  </select>
  <select name="comidas2" id="comindas2" ngModel>
    <option value="" disabled>Selecione ...</option>
    <option *ngFor="let item of listComidas" [ngValue]="item">{{item.comida}} - {{item.preco}}</option>
  </select>
  <br>
  <br>

  <button type="submit" [disabled]="form.invalid">Enviar Dados</button>
</form>
<br>
<br>
{{form.value | json}}
{{form.valid}}


