<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <div class="col-6 m-5">
    <div class="col-6 formGroup">
      <label>Nome:</label>
      <input type="text" formControlName="firstName" class="form-control">
      <span
        *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched && cadastroForm.get('firstName')?.dirty)">
        Favor adicionar o nome
      </span>
    </div>
    <div class="col-6 formGroup">
      <label>Sobrenome:</label>
      <input type="text" formControlName="lastName" class="form-control" maxlength="5">
      <span
        *ngIf="cadastroForm.get('lastName')?.errors && (cadastroForm.get('lastName')?.touched && cadastroForm.get('lastName')?.dirty)">
        Favor deve ter no minimo {{cadastroForm.get('lastName')?.errors?.['minlength']?.requiredLength}}
        e você ja digitou {{cadastroForm.get('lastName')?.errors?.['minlength']?.actualLength}}
      </span>
    </div>
    <div class="col-6 formGroup">
      <label>Email:</label>
      <input type="email" formControlName="email" class="form-control">
      <span
        *ngIf="cadastroForm.get('email')?.errors && (cadastroForm.get('email')?.touched && cadastroForm.get('email')?.dirty)">
      </span>
    </div>
    <p class="h5">
      {{cadastroForm.get('firstName')?.errors | json}}
    </p>
    <p class="h5">
      {{cadastroForm.get('lastName')?.errors | json}}
    </p>
    <p class="h5">
      {{cadastroForm.get('email')?.errors | json}}
    </p>
    <button class="btn btn-primary mx-auto" [disabled]="this.cadastroForm.invalid">Enviar</button>
  </div>
</form>
