.active{
  background: red;
  text-align: center;
  color: white;
  font-size: 30px;
}

.disabled {
  background: blue;
  text-align: center;
  color: white;
  font-size: 30px;
}

.backgroudColor{
  background: firebrick;
  text-align: center;
}
