<ng-content select="h1"></ng-content>
<div *ngIf="nome != 'bruno'">
  <h3>Ng Class</h3>
  <hr />

  <p [ngClass]="{ active: valor, disabled: !valor }">
    Aplicando direativa ngClass {{ valor }}
  </p>

  <h3>Ng Style</h3>
  <hr />

  <p [ngStyle]="{ height: height, background: backgroundColor }">
    Aplicando direativa ngClass {{ valor }}
  </p>
</div>

<h3>Ng Model</h3>
<hr />

<input [(ngModel)]="nome" />
<button (click)="salvar()">Salvar</button>
<li *ngFor="let item of list">{{ item.nome }}</li>

<h3>Ng Template</h3>
<hr />

<ng-template ngFor let-item [ngForOf]="list">
  <p>{{ item.nome }}</p>
</ng-template>

<h3>Ng Content</h3>
<hr />

<ng-content select="hr"></ng-content>
